[include]
    path = ~/.gitconfig-local

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = base16

[push]
    default = simple
    autoSetupRemote = true

[pull]
    rebase = false

[init]
    defaultBranch = main
